<div class="row">
	<div class="col-md-12">
		<h1>Getting Started</h1>
		<p>
			To get started writing your own Crisp programs, head over to <a target="_blank" href="https://github.com/lambdacasserole/crisp">GitHub</a> and 
			<a target="_blank" href="https://github.com/lambdacasserole/crisp/archive/master.zip">download</a> it!
		<p>
		<p class="text-center">
			<a target="_blank" class="btn btn-success btn-lg" href="https://github.com/lambdacasserole/crisp">
				<span style="font-family:nickainleyregular;font-size:26pt;">
					Fork it!
				</span>
				<br/>
				<small>Over on GitHub!</small>
			</a>
			<a target="_blank" class="btn btn-info btn-lg" href="https://github.com/lambdacasserole/crisp/archive/master.zip">
				<span style="font-family:nickainleyregular;font-size:26pt;">
					Download it!
				</span>
				<br/>
				<small>Latest version v0.9.0</small>
			</a>
		</p>
		<p>
			Once you've done that, unpack the file, open the solution in Visual Studio 2015 and build it. Unfortunately there aren't any pre-built binaries
			available at the moment, but they're coming soon, hang tight!
		</p>
		<p>
			The <code>crisp.exe</code> executable is the interpreter that you'll be using to run your programs. Open your text editor and add the following
			code:
		</p>
		<pre>{code}</pre>
		<p>
			Save this file to your PC as <code>addition.csp</code> and run it using the Crisp interpreter executable:
		</p>
		<pre>crisp.exe -f "addition.csp" -a "12 45"</pre>
		<p>
			The console window will show 57, your program's output! Interested in going beyond this simple example? Head over to the 
			<a href="api.csp">API documentation</a> to take a look at the functions and special forms available to you already!
		</p>
		<p class="text-right">
			<a href="api.csp" class="btn btn-link">API Documentation &gt;&gt;</a>
		</p>
	</div>
</div>
