<div class="row">
	<div class="col-md-12">
		<h1>Purity in Coding</h1>
		<p>
			Simple, fast, functional programming. Crisp (for <b>r</b>educed l<b>isp</b> in <b>C</b>#) 
			reduces programming to its purest form, then builds it right back out again. A clean and 
			minimalist Lisp dialect based loosely on 
			<a href="https://en.wikipedia.org/wiki/Lispkit_Lisp" target="_blank" >Lispkit Lisp</a> 
			with a small but beautiful standard library, Crisp takes programming back to its roots.
		<p>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Expressive</h2>
		<p class="text-center">
			<img src="images/syntax.svg"/>
		</p>
		<p>
			Use the cleanest, most minimal lispy syntax to create your programs. Build fast, predicatable
			and efficient programs using only a few primitive data types (booleans, strings and numerics),
			functions and lists.
		</p>
		<p class="text-right hidden-md hidden-lg hidden-xl">
			<a href="what.csp" class="btn btn-link">What is Crisp? &gt;&gt;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Extensible</h2>
		<p class="text-center">
			<img src="images/plugin.svg"/>
		</p>
		<p>
			Missing some key functionality? Use C# to write a new special form, compile it into
			a library and access it straight from your Crisp code.
		</p>
		<p class="text-right hidden-md hidden-lg hidden-xl">
			<a href="extending.csp" class="btn btn-link">Extending Crisp &gt;&gt;</a>
		</p>
	</div>
	<div class="col-md-4">
		<h2>Awesome</h2>
		<p class="text-center">
			<img src="images/stack.svg"/>
		</p>
		<p>
			Run Crisp on Packet - a webserver optimised for serving dynamic webpages generated in Crisp.
			Add data persistence with the included Crisp.Data assembly which handily wraps a 100% managed
			port of SQLite.
		</p>
		<p class="text-right hidden-md hidden-lg hidden-xl">
			<a href="what.csp" class="btn btn-link">Check out the stack! &gt;&gt;</a>
		</p>
	</div>
</div>
<div class="row hidden-xs hidden-sm">
	<div class="col-md-4">
		<p class="text-right">
			<a href="what.csp" class="btn btn-link">What is Crisp? &gt;&gt;</a>
		</p>
	</div>
	<div class="col-md-4">
		<p class="text-right">
			<a href="extending.csp" class="btn btn-link">Extending Crisp &gt;&gt;</a>
		</p>
	</div>
	<div class="col-md-4">
		<p class="text-right">
			<a href="what.csp" class="btn btn-link">Check out the stack! &gt;&gt;</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>What's that? You want it?</h2>
		<p>
			Sweet! Head on over to GitHub to download a bundle that includes the core Crisp interpreter,
			the Packet webserver and everything else you need to get started creating powerful web
			applications without breaking a sweat.
		</p>
		<p class="text-center">
			<a target="_blank" class="btn btn-success btn-lg" href="https://github.com/lambdacasserole/crisp">
				<span style="font-family:nickainleyregular;font-size:26pt;">
					Fork it!
				</span>
				<br/>
				<small>Over on GitHub!</small>
			</a>
			<a target="_blank" class="btn btn-info btn-lg" href="https://github.com/lambdacasserole/crisp/archive/master.zip">
				<span style="font-family:nickainleyregular;font-size:26pt;">
					Download it!
				</span>
				<br/>
				<small>Latest version v0.9.0</small>
			</a>
		</p>
	</div>
	<div class="col-md-6">
		<h2>You've got it! Now what?</h2>
		<p class="alert alert-danger">
			<b>Before you get carried away!</b> Crisp is in pre-alpha and is far from stable or fully optimised. Please do create
			cool stuff with it, but take care and be safe! It's not a good idea to use Crisp or Packet in a production environment
			or (heaven forbid) in any security/safety/business-critical system. - <i>Saul Johnson</i>
		</p>
		<p>
			Need some pointers on getting started? You might want to check out <a href="what.csp">what Crisp is</a>
			or our introduction to <a href="language.csp">the language itself</a>. Once you're familiar with all that,
			it's probably time to <a href="gettingstarted.csp">get started</a>. But keep the <a href="api.csp">documentation</a>
			handy to get off to the best start you possibly can! If you're a C# programmer and you need some new functionality,
			why not look in to <a href="extending.cs">writing an extension</a> to the language?
		</p>
	</div>
</div>
