<div class="row">
	<div class="col-md-12">
		<h1>What is Crisp?</h1>
		<p>
			Crisp is a dialect of Lisp with absolutely minimal syntax designed and optimised
			for use in creating web applications. A purely functional language, it's extremely
			easy to write efficient, clean and maintainable programs and Crisp's interpreted
			nature means changing your code is a simple as changing a source file.
		<p>
		<p>
			What's more, Crisp is easy to understand. Take a look at the following program:
		</p>
		<pre style="overflow:wrap;">{code}</pre>
		<p>
			From taking a glance over that source code, we can see that:
		</p>
		<ul>
			<li></li>
		</ul>
		<p>
			Importantly, Crisp is lazily evaluated. Any values you bind in <code>let</code>
			or <code>letrec</code> blocks aren't actually evaluated until they're used in your
			executing code.
		</p>
	</div>
</div>
