<div class="row">
	<div class="col-md-12">
		<h1>What is Crisp?</h1>
		<p>
			Crisp is a dialect of Lisp with absolutely minimal syntax designed and optimised
			for use in creating web applications. A purely functional language, it's extremely
			easy to write efficient, clean and maintainable programs and Crisp's interpreted
			nature means changing your code is a simple as changing a source file.
		<p>
		<p>
			What's more, Crisp is easy to understand. Take a look at the following program:
		</p>
		<pre style="overflow:wrap;">{code}</pre>
		<p>
			From taking a glance over that source code, we can see that:
		</p>
		<ul>
			<li>
				Crisp is purely functional - unlike programming languages such as C# and PHP,
				Crisp programs are composed from function applications rather than classes and
				methods.
			</li>
			<li>
				A Crisp program is a &quot;lambda&quot; (i.e. a function) that can take parameters. These
				parameters can be passed to the program via the command line: <br/>
				<code>crisp.exe -f example.csp -a &quot;\&quot;foo.txt\&quot; \&quot;bar.txt\&quot;&quot;</code>
			</li>
		</ul>
		<p>
			This entire website, including the syntax highlighting on that code snippet above, <b>is all powered 
			by Crisp</b>. If you're interested, check out <a href="highlighter.zip">the code used</a> to highlight
			the program above. When you're ready, head on to the next section and read about 
			<a href="the-language.csp">the language</a> itself!
		</p>
		<p class="text-right">
			<a href="the-language.csp" class="btn btn-link">The Crisp language &gt;&gt;</a>
		</p>
	</div>
</div>
